.container {
  display: grid;
  grid-template-columns: repeat(8fr);
  grid-template-rows: repeat(10, 100px);
}
.header {
  grid-column: 1/4;
  grid-row: 1;
  background-color: darkblue;
}
.tabSection {
  grid-column: 3/4;
  grid-row: 2/10;
  background-color: lightgrey;
}
.billSection {
  grid-column: 1/3;
  grid-row: 2/8;
  background-color: lightgrey;
  border-radius: 5px;
  border-color: black;
}
.menuSection {
  grid-column: 1/3;
  grid-row: 8/10;
  background-color: orange;
}

/* tab section */
.tabNotSelected {
  height: 40px;
  padding-top: 5px;
  margin-left: 40px;
  margin-top: 5px;
  background-color: #4286f4
}
.tabSelected {
  height: 40px;
  padding-top: 5px;
  margin-left: 15px;
  margin-top: 5px;
  background-color: #e2f442
}
