.container {
  display: grid;
  grid-template-columns: repeat(8fr);
  grid-template-rows: repeat(10, 100px);
}
.header {
  grid-column: 1/4;
  grid-row: 1;
  background-color: blue;
}
.tabSection {
  grid-column: 3/4;
  grid-row: 2/10;
  background-color: red;
}
.billSection {
  grid-column: 1/3;
  grid-row: 2/8;
  background-color: green;
}
.menuSection {
  grid-column: 1/3;
  grid-row: 8/10;
  background-color: orange;
}

/* tab section */
.tabNotSelected {
  height: 25px;
  padding-top: 5px;
  margin-left: 15px;
  background-color: yellow;
}
.tabSelected {
  height: 25px;
  padding-top: 5px;
  margin-left: 15px;
  background-color: black;
}
