.container {
  display: grid;
  grid-template-columns: repeat(8fr);
  grid-template-rows: repeat(10, 100px);
}
.header {
  grid-column: 1/4;
  grid-row: 1;
  background-color: darkblue;
}
.tabSection {
  grid-column: 3/4;
  grid-row: 2/10;
  background-color: lightgrey;
}
.billMenuSectionCss {
  display: grid;
  grid-column: 1/3;
  grid-row: 2/10;
}
.billSection {
  grid-column: 1/3;
  grid-row: 2/8;
  background-color: lightgreen;
  border-radius: 5px;
  border-color: black;
}
.menuSection {
  grid-column: 1/3;
  grid-row: 8/10;
  background-color: lightyellow;
}
