<div "billSelected" class="bill_container">
  <!--Header Section  -->
  <div class="bill_header"></div>
  <div class="bill_server">
    Server Name: Steve
  </div>
  <div class="bill_description">
    Description
  </div>
  <div class="bill_quantity">
    Quantity
  </div>
  <div class="bill_price">
    Price
  </div>

  <!--Body Section  -->
  <div
    ng-controller="bill_items"
    class="bill_body_description"
    >
      <div
        ng-repeat="item in bill | orderBy: 'id'"
        ng-style="bill_body_description(item.fulfilled)"
      >{{item.name}}
      </div>
  </div>
  <div
    class="bill_body_price"
    ng-controller="bill_items"
    >
    <div
      ng-repeat="item in bill | orderBy:'id'"
      >{{item.price}}
    </div>
  </div>
  </div>

<!--Bill Total Section  -->
  <div
    class="bill_totalSection">
  </div>
  <div
    class="bill_total"
    ng-controller="calculatorController"
    >
    <div class="findTotal">
      total $ {{findTotal()}}
      <br />
      tax 5.5% $ {{findTax()}}
      <br />
      grand total $ {{findGrandTotal()}}
      <br />
    </div>
 </div>
